
	html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/*-----------------------------------------------------------------------*/
	


	#barra, ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		top: 0;
		bottom: 0;
		border:1px solid #D3D3DA;
		background-color: #F3F3FB;
	}
	


	li a, .submenu{
		
		display: inline-block;
		color: white;
		padding: 12px 10px;
		text-decoration: none;
		align-items: center;

	}

	
	.new{
		border-radius: 5px;
		color: white;
		background-color: #4B87F6;
		font-weight: bold;
		font-size: 15px;
		font-family:Arial;
		
	}

	.projects{
		border-radius: 5px;
		background-color: #F3F3FB;
		font-family:Arial;
		font-weight: bold;
		color: #545457;
	}
	
	.mayor{
		display: inline-block;
		padding: 24px 8px;
		margin-left: -25px;
		opacity: 0.2;

	}

	#big{
		display: inline-block;
		margin-left: -25px;
		
	}
	
	.cancel{
		border-radius: 5px;
		color: black;
		background-color:#CCCCCC;
		font-weight: bold;
		font-size: 15px;
		font-family:Arial;
		
	}

	
.container{
	display:flex;
	grid-column-gap: 0px;
	grid-template-columns: auto auto auto;
	padding: 20px;
	margin-left: 30px;
	
}

/* hacen que los paneles se ajusten al tamañode la pantalla*/

div, .panel{
	
	flex-wrap: wrap;
	margin: auto;
 }

	.contenedor{
		margin-top: 20px;

	}
	
	#tasks, #zones, #dates{
			
			margin: 10px;
			display: inline-block;
		    float: left;
		   	font-family:Arial;
			font-size: 15px;
			padding: 25px;
			border:1px solid #D3D3DA;
			background-color: #F3F3FB;
			border-radius: 5px;
			box-shadow: 0.5px 1px #D3D3DA;
			

	}
	/* Tasks*/
	span{
		font-weight: bold;
		font-size: 20px;
		color: #7A7A7F;


	}
	/*Todos los internos*/
	p{
		float: left;
		text-indent: 10px;
		margin: 2px;
	}
	
	#add{
		color: dodgerblue;
		font-weight: bold;
		font-size: 15px;
	}

	#signo{
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: dodgerblue;
	}
	
	#add, #signo{
		cursor: pointer;
	}

	#trespuntos{
		float: right;
		cursor: pointer;
	}


	#basura{
		float: right;
		cursor: pointer;
	}


	#seispuntos{
	float: left;
	}

	#calendario{
		float: right;
	}

	.div1, .div2, .div3, .div4, .div5, .div6, .div7{

			width: 300px;
			height: 20px;
			color: white;
			background-color: #37BBC5;
			border-radius: 5px;
			margin-left: 0px;
			padding: 10px 30px;
			margin-bottom: 10px;

		}

	.div2{
			background-color: #637D7F;
	}

	.div3{
			background-color: #0084EA;
	}

	.div4{
			background-color: #854C1C;
	}

	.div5{
			background-color: #F7DB01;
	}

	.div6{
			background-color: #3B55CB;
	}

	.div7{
		background-color: #ED3F56;
	}

	/*zones*/

	.z1, .z2, .z3, .z4, .z5, .z6, .z7{
		width: 300px;
		height: 20px;
		color: #545457;
		font-weight: bold;
		background-color: #E2E2ED;
		border-radius: 5px;
		margin-left: 0px;
		padding: 10px 30px;
		margin-bottom: 10px;
}
	#caja{
		width: 350px;
		height: 35px;
		border-radius: 5px;
		background-color: #E2E2ED;
		border-color: rgba(84,84,87,0);
	}
	
	/* dates */

	.d1, .d2, .d3, .d4, .d5, .d6{
		width: 339px;
		height: 10px;
		color: #545457;
		font-weight: bold;
		border-radius: 5px;
		margin-left: -40px;
		padding: 10px 30px;
		margin-bottom: 30px;
	}
	
	#linea{
		border:1px solid #E1E3E6;
		margin-bottom: 20px;
	}	

	.d1{
		display: grid;
		grid-gap: 25px;
		grid-template-columns: 97px 10px 10px 10px 10px 10px 10px 10px;
		margin-left: -38px;


	}
	

	#text1{
		padding: 1px;
	}
	

	#text, #text1{
		
		font-weight: bold;

	}
	
	 #dias{
		margin: 6px -7px;
	}

	.week{
		
		width: 30px;
		height: 25px;
		background-color: gray;
		border: 1px solid gray;
		padding: 2px 1px;
		font-size: 12px;
		text-align:center;
		color: white;
		border-radius: 5px;
		margin-left: 10px;

	}
	
	.week:hover{
		background-color: #E2E2ED;
		border: 1px solid #E2E2ED;
		color: black;
		cursor: pointer;
	}
	


	#fines{
		background-color: #E2E2ED;
		border: 1px solid #E2E2ED;
		color: black;
		}

	#fines:hover{
		background-color: gray;
		border: 1px solid gray;
		color: white;
		cursor: pointer;
	}
	
	 #opciones, #fecha{
	 	margin-left: 36px;
	 	margin-top: -7px;
	 	width: 150px;
		height: 35px;
		border-radius: 5px;
		background-color: #E2E2ED;
		border-color: rgba(84,84,87,0);
		color: #545457;
		cursor: pointer;
	 }	

	 #fecha{
	 	margin-left: 47px;
	 }

	 label{
	 	margin-left: 52px;
	 }

	 a.menu {
    display:inline-block;
    padding:0px 12px;
    margin:0px 8px;
	}
	
	@media screen {
		
	}